<p>recipe-list works!</p>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a 
        href="#"
        class="list-group-item clearfix"  
        *ngFor="let item of recipes">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{item.name}}</h4>
                <p class="list-group-item-text">{{item.description}}</p>
            </div>
            <div class="pull-right">
                <img 
                [src] ="item.imagePath"
                alt="{{item.name}}"
                class="img-responsive"
                style="max-height: 50px;">
            </div>
        </a>

    </div>
</div>