<nav class="navbar navbar-default">
<div class="contrainer-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
          <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
        </button>
        <a routerLink="/" class="navbar-brand">Recipe Book</a>
      </div>
      <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
    <ul class="nav navbar-nav">
        <li><a href ="#">Recipes</a></li>
        <li><a href ="#">Shopping List</a></li>
    </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                 <a href="#" class="dropdown-toogle" role="button">Manage <span class="caret"></span></a>
                 <ul class ="dropdown-menu">
                    <li><a href="#"> Save Data</a></li>
                    <li><a href="#"> Fetch Data</a></li>
                 </ul>
               </li>
            </ul>
        </div>
    </div>
</nav>